/chinese_restaurant_analysis/yelp_dataset/yelp_academic_dataset_business.json
/chinese_restaurant_analysis/yelp_dataset/yelp_academic_dataset_checkin.json
/chinese_restaurant_analysis/yelp_dataset/yelp_academic_dataset_review.json
/chinese_restaurant_analysis/yelp_dataset/yelp_academic_dataset_tip.json
/chinese_restaurant_analysis/yelp_dataset/yelp_academic_dataset_user.json
